	header {
		text-align: center;
 		background-size: cover;
        color: white;
	}
	a {
		color: white;
	}
	h1 {
		font-family: 'Old Standard TT', cursive;
  		text-align: center;
  		font-size: 75px;
  		color: rgba(255,255,255,1);
  		margin: 60px 0 0 0;
  		background-color: rgba(255,182,193,.75);
  		border-radius: 20px;
  		border: 3px solid white;
	}
	h2 {
		font-family: 'Old Standard TT', cursive;
  		text-align: center;
  		color: rgba(255,255,255,1);
  		margin: 10px 0 70px 0;
  		background-color: rgba(255,182,193,.75);
  		border-radius: 20px;
  		border: 3px solid white;
	}
	img {
  		border-radius: 20px;
  		border: 3px solid white;
  	}
  	ul{
      padding: 10px;
      background: rgba(255,182,193,.7);
      text-align: center;
    }
    li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }
    body {
      	font-family: 'Old Standard TT', cursive;
  		margin: 0 auto;
  		max-width: 600px;
  		background: url("http://s3.amazonaws.com/ClubExpressClubFiles/712366/graphics/Jefferson_Memorial_Washington_DC.jpg");
  		background-size: cover;
  		background-position: center;
    }
    div {
  		height: 200px;
  		background-size: cover;
  		position: relative;
  		margin: 40px 0 0 0;
  		border-radius: 15px;
  		font-family: 'Old Standard TT', cursive;
  		font-size: 20px;
}
    p {
       color: rgba(255,255,255,1);
  		background: white;
  		background: linear-gradient(bottom, rgba(0,150,255,1), rgba(0,150,255,.4));
  		background: -webkit-linear-gradient(bottom, rgba(255,182,193,1), rgba(255,182,193,.2));
  		background: -moz-linear-gradient(bottom, rgba(0,150,255,1), rgba(0,150,255,.4));
  		padding: 10px;
  		line-height: 28px;
  		text-align: justify;
  		position: absolute;
  		bottom: 0;
  		margin: 0;
  		height: 30px;
  		transition: height .5s;
  		-webkit-transition: height .5s;
  		-moz-transition: height .5s;
    }
    small {
  		opacity: 0;
  		border-radius: 15px;
	}
	.show-description p {
  		height: 150px;
  		border-radius: 15px;
	}

	.show-description small {
  		opacity: 1;
  		border-radius: 15px;
	}
    .aboutme{
		background-image: url("http://www.projecthappyhearts.com/wp-content/uploads/2015/04/green-nature-dual-monitor-other.jpg");
  		background-size: cover;
  		border: 3px solid white;

    }
    .projects {
    	background-image: url("http://theworldofmark.com/wp-content/uploads/2012/10/University_of_Virginia_2_small.jpg");
  		background-size: cover;
  		border: 3px solid white;

    }
    .resume {
    	background-image: url("http://fairfax.homebyschool.com/wp-content/uploads/2013/04/TJHSST-sculpture_opt-300x168.jpg");
  		background-size: cover;
  		border: 3px solid white;
    }
    .input {
    	text-align: center;
    }
    @media (max-width: 500px) {
  		h1 {
    		font-size: 50px;
    		margin-top: 20px;
    		line-height: 40px;
  		}
  		h2 {
    		font-size: 20px;
    		margin: 20px 0 30px 0;
  		}
  		div {
   			margin: 20px 12px 0 12px;
  		}
  		p {
    		font-size: 12px;
    		line-height: 24px;
  		}
  		small {
    		font-size: 16px;
  		}
	}
    input{
      border: 0;
      padding: 10px;
      font-size: 18px;
      text-align: center;
    }
    input[type="submit"] {
      background: rgba(255, 182, 193, 1);
      color: white;
      text-align: center;
    }